// scroll
html, body, .main {
  scroll-behavior: smooth;
}
/* Scroll bar */
::-webkit-scrollbar-track {
  background-color: #dee1e4;
  cursor: pointer;
  border-radius: 2px;
}

::-webkit-scrollbar {
  width: 10px;
  cursor: pointer;
  background-color: #dee1e4;
}

::-webkit-scrollbar-thumb {
  background-color: #ccc;
  border-radius: 2px;
}

// RWD
$pc-media: 816px;
// $pcs-media: 959px;
// $pad-media: 760px;
// $pads-media: 759px;
$phone-media: 550px;
// $phones-media: 408px;

@mixin pc-width() {
  @media all and (min-width: $pc-media) {
    @content;
  }
}
 
@mixin pc-phone-width() {
  @media all and (min-width: $phone-media) and (max-width: $pc-media) {
    @content;
  }
}
@mixin phone-width() {
  @media all and (min-width: $phone-media) {
    @content;
  }
}
// @mixin pcs-width() {
//   @media all and (min-width: $pcs-media) {
//     @content;
//   }
// }
  
// @mixin pad-width() {
//   @media all and (min-width:$pad-media) and (max-width: $pc-media) {
//     @content;
//   }
// }
// @mixin small-pad-width() {
//   @media all and (min-width: $phone-media) and (max-width:$pads-media) {
//     @content;
//   }
// }
// @mixin phone-width() {
//  @media all and (max-width: $phones-media) {
//    @content;
//  }
// }


// transition animations
// fade
.fade-enter-active {
  transition: all .5s ease;
}
.fade-leave-active {
  transition: all .5s cubic-bezier(1.0, 0.5, 0.8, 1.0);
} 
.fade-enter, .fade-leave-to { /* .fade-leave-active below version 2.1.8 */  
  overflow: hidden;
  position: absolute;
}

.sta-grey {
  background: #bdbdbd;
  color: #fff;
}
.sta-red {
  background: #f16b40;
  color: #fff;
}
.sta-yellow {
  background: #eec979;
  color: #fff;
}
.sta-green {
  background: #66bdcc;
  color: #fff;
}
// map popUp
.popUp {
  font-size: 1rem;
  font-family: 'Noto Sans TC', 'Avenir', Helvetica, Arial, sans-serif;
  max-width: 160px;

  .mask-title {
    margin-bottom: .5rem;
    padding-bottom: .25rem;
    border-bottom: 1px solid #ededed;
  }

  .mask-wrap {
    margin: .5rem auto;
  }

  .mask-adult,
  .mask-child {
    display: flex;
    justify-content: space-between;
    min-width: 32px;
    width: 100%;
    padding: .25rem 1rem;
    margin: .4rem auto;
    text-align: left;
    white-space: nowrap;
  }

  .mask-updated {
    font-size: .8rem;
    padding-top: .25rem;
    // margin-bottom: .5rem;
    // border-top: 1px solid #ededed;
    color: #a2a2a2;
    text-align: left;
  }

  .mask-note {
    font-size: .9rem;
    border-top: 1px solid #ededed;
    margin-top: .5rem;
    padding-top: .25rem;
  }
}

.marker-pin {
  width: 30px;
  height: 30px;
  border-radius: 50% 50% 50% 0;
  position: absolute;
  transform: rotate(-45deg);
  left: 50%;
  top: 50%;
  margin: -15px 0 0 -15px;
  box-shadow: -8px 8px 8px -6px rgba(8, 8, 8, 0.8);
  // &:before {
  //   content: "";
  //   width: 80%;
  //   height: 50%;
  //   /* margin: 3px 0 0 3px; */
  //   background: hsla(0, 0%, 0%, 0.54);
  //   position: absolute;
  //   border-radius: 50%;
  //   left: -8px;
  //   filter: blur(8px);
  //   bottom: -8px;
  //   transform: rotate(45deg) scale(1, .5);
  // }
}
.custom-div-icon .awesome {
  position: absolute;
  width: 22px;
  left: 0;
  right: 0;
  text-align: center;
  margin: 13px auto;
  font-size: 18px;
  color: #fff;
  z-index: 3;
}
